@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Foutmelding.</h1>
<h2 class="text-danger">Een foutmelding is voorgekomen tijdens het proces.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>AanvraagID:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>Ontwikkel mode</h3>
<p>
    Veranderen naar <strong>ontwikkel</strong> omgeving laat meer details zien over de foutmelding die zich heeft voorgevonden. 
</p>
<p>
    <strong> De ontwikkel omgeving mag niet aangezet worden voor geüploadde applicaties.</strong>
    Het resultaat kan het tonen van gevoelige informatie naar de einggebruiker.
    Voor locaal debuggen, schakel<strong>ontwikkelings</strong> omgeving in door het veranderen van <strong>ASPNETCORE_ENVIRONMENT</strong> naar <strong>ontwikkeling</strong>
    en herstart de applicatie.
</p>
