@using Achmea.Core;
@model ProjectDetailViewModel
@{
    ViewData["Title"] = "Details";
}
<link rel="stylesheet" href="~/css/Details.css" />
<h1>Details</h1>
<div class="con-header">
    <div class="header-title">
        <h2>@Model.Title</h2>
    </div>
    <div class="header-desc">
        <h3>@Model.Description</h3>
    </div>
</div>
<div class="con-content">
    @{ int i = 0;}
    @foreach (EsaAspect req in Model.EsaAspects)
    {
        <div class="con-requirements">
            <div class="requirement-info">
                <h4>@req.Name s</h4>
            </div>
            <div class="requirement-check">
                <h4>@Model.Status</h4>
            </div>
        </div>
        i++;
    }
</div>

<div class="con-biv">
    <div class="biv">
        <h4>B3</h4>
    </div>
    <div class="biv">
        <h4>I3</h4>
    </div>
    <div class="biv">
        <h4>V3</h4>
    </div>
    <div class="requirement-check">
        <h4>In Progress</h4>
    </div>
</div>