@model List<ProjectViewModel>
@{
    ViewData["Title"] = "Home Page";
}

<h1>Overview</h1>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Title</th>
            <th>Status</th>
            <th>Creation Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (ProjectViewModel project in Model)
        {
            <tr onclick="window.location.href='@Url.Action("Details", "Overview", new { projectId = project.ProjectId})'">
                <td>@project.Title</td>
                <td>@project.Status</td>
                <td>@project.CreationDate</td>
            </tr>
        }
    </tbody>
</table>