@model List<AchmeaProject.Models.ESA_AspectViewModel>;
@{
    <link rel="stylesheet" href="~/css/ESA-checklist.css" />
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
}
<div class="container" style="margin-bottom:50px">
    <form method="post" asp-controller="Requirement" asp-action="GetRequirementsFromAreas">
        <!-- title -->
        <h1>ESA aspect areas</h1>

        @for (var i = 0; i < Model.Count; i++)
        {
            <!-- ESA aspect -->
                <input name="Ids" id='label-@(i+1)' value="@Model[i].ID" type="checkbox"  />
                <label for='label-@(i+1)'>
                    <h2>
                        @Model[i].Title
                        <span>@Model[i].Description</span>
                    </h2>
                </label>
        }
    <div class="form-group">
        <input type="submit" value="Next" class="btn btn-primary" />
    </div>
    </form>
</div>


