@model ProjectViewModel

@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_SecurityLayout.cshtml";
}

<ul>
    <li>@Model.ProjectId</li>
    <li>@Model.Title</li>
    <li>@Model.Status</li>
</ul>
