@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_SecurityLayout.cshtml";
}
@using Microsoft.AspNetCore.Http;


<section class="jumbotron text-center">
    <div class="container-fluid">
        <h1>Security Panel</h1>
    </div>
</section>