@model List<ProjectViewModel>
@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_SecurityLayout.cshtml";
}

<link rel="stylesheet" href="~/css/Overview.css" />
<h1>Overview</h1>
<table>
    <thead>
        <tr class="table-header">
            <th>ProjectId</th>
            <th>Title</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (ProjectViewModel P in Model)
        {
            <tr class="table-item" onclick="window.location.href='@Url.Action("Details", "Security", new { projectId = P.ProjectId})'">
                <td>@P.ProjectId</td>
                <th>@P.Title</th>
                <td>@P.Status</td>
            </tr>
        }
    </tbody>
</table>