body {
}

main {
    min-height: 100%;
    background-color: yellow;
    display: grid;
}

.con-header {
    background-color: purple;
    width: 100%;
    height: 200px;
}

.header-title {
    background-color: green;
    height: 100%;
    width: 35%;
    float: left;
    padding: 70px 10px;
    text-align: center;
    word-wrap: break-word;
}

.header-desc {
    background-color: red;
    height: 100%;
    width: 65%;
    float: right;
    padding: 70px 10px;
    text-align: center;
    word-wrap: break-word;
}

.con-content {
    background-color: pink;
    width: 100%;
    height: 100%;
}

.con-requirement {
    background-color: teal;
}

.requirement-info {
    background-color: orange;
    width: 80%;
    float: left;
    padding: 10px 10px;
    text-align: center;
    word-wrap: break-word;
    margin: 10px 10px 0 10px;
}

.requirement-check {
    background-color: cyan;
    width: 16%;
    float: right;
    padding: 10px 10px;
    text-align: center;
    word-wrap: break-word;
    margin: 10px 10px 0 10px;
}

.con-biv {
    background-color: indianred;
}

.biv-b {
    background-color: lightseagreen;
}

.biv-i {
    background-color: cornflowerblue;
}

.biv-v {
    background-color: chartreuse;
}