@model EvidenceFileViewModel;
@{
                <link rel="stylesheet" href="~/css/ESA-checklist.css" />
                            <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
                                        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
                                                    <script src="~/lib/jquery/dist/jquery.min.js"></script>
}

@if (Model.List.Files != null)
{
    for (int i = 0; i < Model.List.Files.Count; i++)
    {
        <h2>@Model.List.Files[i].Name</h2>
        }
}

@if (Model.File != null)
{
    <a href="@Model.File.WebViewLink">View Link</a>
    <a href="@Model.File.WebContentLink">Download Link</a>

<h2>@Model.File.Name</h2>
}


<form asp-action="Index" asp-controller="Evidence" enctype="multipart/form-data">
    <div class="file-field input-field">
        <div class="btn">
            <span>Select a File</span>
            <input type="file" name="file" accept=".doc,.docx,.pdf">
        </div>
        @*<div class="file-path-wrapper">
                <input class="file-path validate" type="text">
            </div>*@
    </div>
    <button type="submit"></button>
</form>
