@model Achmea.Core.Model.ProjectModel

@{
    ViewData["Title"] = "Home Page";
}



<div class="container">
    <div class="modal fade" tabindex="-1" id="loginModal"
         data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Create project</h4>
                    <button type="button" class="close" data-dismiss="modal">
                        ×
                    </button>
                </div>
                <div class="modal-body">
                    <form id="CreateProject" asp-controller="Project" asp-action="CreateProject" method="post">
                        <div class="form-group">
                            <label>Name your new project</label>
                            <input type="text" name="ProjectTitle" class="form-control" id="PlaylistName">
                        </div>
                        <button type="submit" class="btn btn-primary">Create project</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btnHideModal" class="btn btn-primary button button4">
                        Hide
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

@if (ViewBag.ProjectMade != null)
{
<script type="text/javascript">
    alert(@ViewBag.ProjectMade);
</script>
}

<button type="submit" id="open" class="btn btn-primary">Create new Playlist</button>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>

<script type="text/javascript">

    $("#open").click(function () {
        $("#loginModal").modal('show');
    });

    $("#btnHideModal").click(function () {
        $("#loginModal").modal('hide');
    });
</script>
